extends layout

block content
    h1= title
    p Welcome to #{title}
    div
        form(method='post', action='create')
            label User Name
            br
            input(type='text', name='username', required='required')
            br
            input(type='submit')
        hr
