extends ../layout

block content
    h1= title
    p Welcome to #{title}
    div
        form(method='post', action='create')
            input(type='hidden', name='_csrf', value='#{csrfToken}')
            label User Name
            br
            input(type='text', name='username', required='required')
            br
            label Password
            br
            input(type='password', name='password', required='required')
            br
            input(type='submit')
        hr
